# Core dbt & Cosmos
dbt-core>=1.8.0
dbt-athena-community
astronomer-cosmos>=1.4.0

# Data manipulation & AWS
pandas
boto3
awswrangler
requests

# Airflow Providers
apache-airflow-providers-amazon
apache-airflow-providers-postgres

# Utilities
python-dotenv